# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python Continuous Integration

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - name: Clone source code
        uses: actions/checkout@v3

      - name: Install Python 3.9.6
        uses: actions/setup-python@v3
        with:
          python-version: "3.9.6"

      - name: Upgrade pip
        run: |
          python -m pip install --upgrade pip

      - name: Install dependencies
        run: |
          pip install pylint pytest

#      - name: Analysing the code with pylint
#        run: |
#          pylint $(git ls-files '*.py')

#      - name: Run tests with pytest
#        run: |
#          pytest
